<div class="ps-product__thumbnail">
  <div class="ps-product__preview">
    <div class="ps-product__variants" *ngIf="productActive">

      <div class="item"  *ngFor="let srcImg of productActive[0].varying"  > <img    src="../../../../../.{{srcImg.src}}" alt=""></div>
    </div><a class="popup-youtube ps-product__video" href="http://www.youtube.com/watch?v=0O2aH4XLbto"><img src="../../../../../../assets/images/shoe-detail/1.jpg" alt=""><i class="fa fa-play"></i></a>
  </div>
  <div class="ps-product__image" *ngIf="productActive">
    <div class="item" *ngFor="let srcImg of productActive[0].varying" ><img class="zoom" src="../../../../../.{{srcImg.src}}" alt="" data-zoom-image="../../../../../.{{srcImg.src}}"></div>
  </div>
</div>
<div class="ps-product__thumbnail--mobile">
  <div class="ps-product__main-img"><img src="../../../../../../assets/images/shoe-detail/1.jpg" alt=""></div>
  <div class="ps-product__preview owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="20" data-owl-nav="true" data-owl-dots="false" data-owl-item="3" data-owl-item-xs="3" data-owl-item-sm="3" data-owl-item-md="3" data-owl-item-lg="3" data-owl-duration="1000" data-owl-mousedrag="on">
    <img src="../../../../../../assets/images/shoe-detail/1.jpg" alt="">
    <img src="../../../../../../assets/images/shoe-detail/2.jpg" alt="">
    <img src="../../../../../../assets/images/shoe-detail/3.jpg" alt="">
  </div>
</div>

