<div class="header__top">
  <div class="container-fluid">
    <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12 ">
            <p>Ain EL HAYTAT 1 N 625 -  fix: 0669 772 100 - 0669 772 100</p>
          </div>
          <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 ">
            <div class="header__actions"><a href="#">Login & Regiser</a>
              <div class="btn-group ps-dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language<i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Francais</a></li>
                  <li><a href="#">Anglais</a></li>
                </ul>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
