<div class="grid-item {{jsonData.mark}}" >
  <div class="grid-item__content-wrapper">
    <div class="ps-shoe mb-30">
      <div class="ps-shoe__thumbnail">
        <div class="ps-badge"><span>New</span></div>
        <div class="ps-badge ps-badge--sale ps-badge--2nd"><span>-35%</span></div><a
          class="ps-shoe__favorite" href="#"><i class="ps-icon-heart"></i></a><img
          [src]="jsonData.imgProduct" alt=""><a class="ps-shoe__overlay hassan" id="hassan"
          (click) ="Detail()"
         ></a>
      </div>
      <div class="ps-shoe__content">
        <div class="ps-shoe__variants">
          <div class="ps-shoe__variant normal">
              <img  *ngFor="let variant of jsonData.varying" [src]="variant" alt="">
          </div>

        </div>
        <div class="ps-shoe__detail"><a class="ps-shoe__name" href="#">{{ jsonData.title}}</a>
          <p class="ps-shoe__categories"><a href="#">{{ jsonData.genre +' '+ jsonData.cat }}</a>,<a href="#"> {{ jsonData.mark }}</a>,<a href="#">
              Jordan</a></p><span class="ps-shoe__price">
            <del>DH{{jsonData.priceAvantPromotion}}</del> DH {{jsonData.priceBeforePromotion}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

