<div class="ps-products-wrap pt-80 pb-80">
  <div class="ps-products" data-mh="product-listing">
    <div class="ps-product-action">
      <div class="ps-product__filter">
        <select class="ps-select selectpicker">
          <option value="1">Shortby</option>
          <option value="2">Name</option>
          <option value="3">Price (Low to High)</option>
          <option value="3">Price (High to Low)</option>
        </select>
      </div>
    </div>
    <list-product-filter></list-product-filter>
  </div>

  <div class="ps-sidebar" data-mh="product-listing">
    <category-filter></category-filter>
    <prix-filter></prix-filter>
    <taille-filter></taille-filter>
  </div>
</div>
